{% extends "nav.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="container mt-5">
    <h1 align="center">Recent Posts</h1>
    <!-- Category Filter -->
    <form method="GET" action="{{ url_for('views.home') }}">
        <div class="form-group">
            <label for="category_id">Filter by Category</label>
            <select name="category_id" id="category_id" class="form-control" onchange="this.form.submit()">
                <option value="">All Categories</option>
                {% for category in categories %}
                    <option value="{{ category.id }}" {% if request.args.get('category_id')|string == category.id|string %}selected{% endif %}>{{ category.name }}</option>
                {% endfor %}
            </select>
        </div>
    </form>
    <br />
    <!-- Post Snippets -->
    {% for post in posts %}
        <div class="card mb-3">
            <div class="profile-pic-container mr-3">
                {% if post.user.profile_picture %}
                    <img src="{{ url_for('static', filename='uploads/' + post.user.profile_picture) }}" alt="Profile Picture" class="profile-pic">
                {% else %}
                    <i class="fas fa-user-circle fa-2x"></i>
                {% endif %}
            </div>
            <div class="card-body">
                <h5 class="card-title">
                    <a href="{{ url_for('views.post', username=post.user.username) }}">{{ post.user.username }}</a> 
                    {% if post.category %}
                        <span class="badge bg-primary">{{ post.category.name }}</span>
                    {% endif %}
                    <small class="text-muted">{{ post.date_created }}</small>
                </h5>
                <h4>{{ post.title }}</h4>
                <p class="card-text">
                    {% if post.text|length > 100 %}
                        {{ post.text[:100] | safe }}... <a href="{{ url_for('views.view_post', id=post.id) }}">Read More</a>
                    {% else %}
                        {{ post.text | safe }} <a href="{{ url_for('views.view_post', id=post.id) }}">Read More</a>
                    {% endif %}
                </p>
                <div>
                    <a href="{{ url_for('views.like', post_id=post.id) }}">
                        <i class="fas fa-thumbs-up"></i> <span class="like-count">{{ post.likes|length }}</span>
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}