{% extends "nav.html" %}
{% block title %}Notifications{% endblock %}
{% block content %}
<div class="container mt-5">
    <h1 align="center">Notifications</h1>
    {% if notifications %}
        <form method="POST" action="{{ url_for('views.clear_notifications') }}">
            <button type="submit" class="btn btn-danger mb-3">Clear All Notifications</button>
        </form>
        {% for notification in notifications %}
            <div class="alert alert-info">
                <p>{{ notification.message | safe }} <small>({{ notification.date_created }})</small></p>
            </div>
        {% endfor %}
    {% else %}
        <p>No notifications yet.</p>
    {% endif %}
</div>
{% endblock %}